<div class="container pt-3">
  <%= form_with(model: pin, local: true) do |form| %>
    <% if pin.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h2><%= pluralize(pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

        <ul>
          <% pin.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :title %>
      <%= form.text_field :title,class:"form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_field :description,class:"form-control" %>
    </div>

    <div class="field custom-file form-group">
      <%= form.label :images, class: "custom-file-label" %>
      <%= form.file_field :images, multiple: true, class: "custom-file-input" %>
    </div>

    <% if @pin.images.attached? %>
    <div class="row pt-3">
      <% @pin.images.each do |image| %>
        <div class="col-6 col-md-2">
          <%= image_tag image.variant(resize: '300x300^', extent: '300x300^', gravity: 'Center'), class: "w-100" %>
          <br>
          <%= link_to 'Remove', delete_image_pin_path(@pin, image), method: :delete, data: { confirm: 'Are you sure?' }, class:"offset-3 col-md-5 btn btn-sm btn-danger" %>
        </div>
      <% end %>
    </div>
  <% end %>


    <div class="actions pt-3">
      <%= form.submit "Guardar", class:"btn btn-primary col-md-12"  %>
    </div>
    
  <% end %>
</div>
