<div class="col-md-12 row pt-3">
  <div class="offset-md-4 col-md-4 centered">
    <h1>Mantenedor de autos </h1>
  </div>
   <div class="col-md-4">
    <%= link_to '<i class="fas fa-plus"></i> Nuevo Auto'.html_safe, new_pin_path,class: "col-md-4 btn btn-light pull-right" %>
  </div>
</div>

<%#  %>
<div class="row  pt-1 container-fluid">
  <% @pins.each do |pin| %>
    <div class="col-md-4 pt-3 h-100">
      <div class="card pt-2" >
        <% if pin.images.attached? %>           
           <div id="carouselExampleControls<%= pin.id %>" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                 <% pin.images.each do |image| %>                   
                      <div class="carousel-item <%= pin.images[0]==image ? 'active' : '' %>">
                        <%= image_tag image.variant(resize: '465x262^'), class:'d-block w-100 card-img-top heigth-img' %>
                      </div>
                         <% end %>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls<%= pin.id %>" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls<%= pin.id %>" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>  
         <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= pin.title %></h5>
          <p class="card-text"><%= pin.description %></p>
          <%# <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">Editar</a>  %>
          <div class="centered">
            <%= link_to '<i class="far fa-eye"></i> Mostrar'.html_safe, pin, class: "btn btn-secondary" %>

          <% if can? :update, pin %>
              <%= link_to '<i class="fas fa-pencil-alt"></i> Editar'.html_safe, edit_pin_path(pin), class: "btn btn-primary" %>
          <% end %>   

          <% if can? :destroy, pin %>
              <%= link_to '<i class="fas fa-minus"></i> Eliminar'.html_safe, pin, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-dark"  %>
          <% end %>

          </div>
        </div>
      </div> 
    </div>
  <% end %>
</div>

