<%#  %>
<div class="row  pt-4 container-fluid">
<div class="col-md-4 pt-3 h-100">
  <div class="card pt-2" >
    <%= image_tag("2.jpg", :class=>'card-img-top heigth-img') %>

    <div class="card-body">
      <h5 class="card-title">Auto 1</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">Ver detalles</a>
    </div>
  </div>
</div>
<div class="col-md-4  pt-3 h-100">
    <div class="card  pt-2" >
       <%= image_tag("1.jpg", :class=>'card-img-top heigth-img') %>
      <div class="card-body">
        <h5 class="card-title">Auto 2</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">Ver detalles</a>
      </div>
    </div>
  </div>
  <div class="col-md-4  pt-3 h-100">
    <div class="card  pt-2" >
         <%= image_tag("3.jpg", :class=>'card-img-top heigth-img') %>
      <div class="card-body">
        <h5 class="card-title">Auto 3</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">Ver detalles</a>
      </div>
    </div>
  </div>

  <div class="col-md-4 pt-3 h-100">
  <div class="card pt-2" >
       <%= image_tag("4.jpg", :class=>'card-img-top heigth-img') %>
    <div class="card-body">
      <h5 class="card-title">Auto 4</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">Ver detalles</a>
    </div>
  </div>
</div>
<div class="col-md-4  pt-3 mh-100">
    <div class="card  pt-2" >
       <%= image_tag("5.jpg", :class=>'card-img-top heigth-img') %>
      <div class="card-body">
        <h5 class="card-title">Auto 5</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">Ver detalles</a>
      </div>
    </div>
  </div>
  <div class="col-md-4  pt-3 h-100">
    <div class="card  pt-2" >
          <%= image_tag("6.jpg", :class=>'card-img-top heigth-img') %>
      <div class="card-body">
        <h5 class="card-title">Auto 6</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">Ver detalles</a>
      </div>
    </div>
  </div>
</div>